version: "3.9"

services:
  backend:
    build: ./backend
    restart: always
    volumes:
      - ./backend:/app
    depends_on:
      - db

  nginx:
    restart: on-failure
    build:
      context: .
      dockerfile: nginx/Dockerfile
    volumes:
      - ./nginx/frontend.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/backend.conf:/etc/nginx/conf.d/backend.conf
    ports:
      - 8080:8080
      - 80:80
    depends_on:
      - backend

  db:
    restart: always
    image: postgres:13.4
    environment:
      - POSTGRES_DB=api
      - POSTGRES_USER=backend
      - POSTGRES_PASSWORD=!+kMU7dba3sgBTW8
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
